<div class="row-fluid">
  <div class="span8">

    <!--Whiteboard-->
    <ul class="thumbnails" id="editable-list">
      <!--New note form-->
      <li class="span4">
        <div class="thumbnail">
          <%= render 'new' %>
        </div>
      </li>

      <!--Index of notes-->
      <% @notes.each do |note| %>
        <li class="span4 note-cell">
          <div class="thumbnail" id="note-container">
            <%= render partial: "show", locals: {note: note} %>
          </div>
        </li>
      <% end %>
    </ul>
    
  </div>
  <div class="span4 well">
    <!--Sidebar content, move to partial shared/house_sidebar-->
    <h3><%= current_person.house.name %></h3>
    <hr>
    <% current_person.house.people.each do |resident| %>
      <p><%= gravatar_for resident %>
      <%= resident.name %></p>
    <% end %>

    <p>
      <%= form_tag pre_add_houses_path, method: "get" do %>
        <%= text_field_tag :email, nil, class: "input-block-level", placeholder: "Enter email to add a housemate" %>
        <%= submit_tag "Add", class: "btn btn-warning" %>
      <% end %>
    </p>

    <p>
      <%= link_to raw('<i class="icon-briefcase"></i> Move out'),
                  leave_house_path(current_person.house) %>
    </p>
  </div>
</div>
