<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, class: "input-block-level", placeholder: "House name" %>
  <%= f.label :public, class: "checkbox" do %>
    <%= f.check_box :public %> Anyone can move into the house, no approval necessary
  <% end %>
  <% if new_house %>
    <%= f.submit "Create house and move in", class: "btn" %>
  <% else %>
    <%= f.submit "Save", class: "btn" %>
  <% end %>
  
<% end %>
