<div class="row-fluid">
  <div class="span8">
    <!--Body content-->
    <br><br>
    <div class="box-container">
      <div class="box box-leftmost"><%= fa_icon "file-text inverse" %></div>
      <div class="box"><h1>Add notes</h1></div>
      <div class="box"><%= fa_icon "share inverse" %></div>
      <div class="box box-leftmost"><h1>Manage multiple boards</h1></div>
      <div class="box"><%= fa_icon "th inverse" %></div>
      <div class="box"><h1>Share with friends</h1></div>
      <div class="box-leftmost"><br></div>
    </div>
  </div>
  <div class="span4">
    <!--Sidebar content, move to partial shared/sign_up_form-->
<%= form_for resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { class: "well" } do |f| %>
  <h2>Sign up</h2>

  <%= devise_error_messages! %>
              
  <%= f.text_field :name, class: "input-block-level", placeholder: "Full name" %>

  <%= f.email_field :email, class: "input-block-level", placeholder: "Email address" %>

  <%= f.password_field :password, class: "input-block-level", placeholder: "Password" %>

  <%= f.password_field :password_confirmation, class: "input-block-level", placeholder: "Confirm password" %>

  <%= f.label :public, class: "checkbox" do %>
    <%= f.check_box :public %> Make profile public
  <% end %>

  <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>

  <br><br><%= render "devise/shared/links" %>
<% end %>
  </div>
</div>
